@media (max-width: 600px) {
  #cheat-sheet {
    display: none;
  }
}

#cheat-sheet {
  background-color: #333;
  border-radius: 6px;
  border-top: solid 10px #6A6;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  color: #EEE;
  height: calc(100vh - 30px);
  max-width: 320px;
  min-width: 320px;
  padding: 0 1em;
  position: absolute;
  right: 10px;
  top: 10px;
}

#cheat-sheet .markdown button {
  appearance: none;
  background: none;
  border: solid 2px #CCC;
  color: #EEE;
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 4px;
  outline: 0;
  padding: .4em .6em;
}

#cheat-sheet .markdown button:active {
  background: #999;
  border-color: #999;
  color: Black;
}

#cheat-sheet .markdown button:focus:not(:active),
#cheat-sheet .markdown button:hover:not(:active) {
  background: #CCC;
  color: Black;
}

#cheat-sheet .markdown :not(pre) > code {
  background-color: #444;
  outline-color: #444;
}

#cheat-sheet .markdown pre {
  background-color: #444;
  color: #CCC;
}

#cheat-sheet > div {
  -ms-overflow-style: none;
  height: calc(100% - 2em);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em 0;
  scrollbar-width: 0;
  word-wrap: break-word;
}

#cheat-sheet > div::-webkit-scrollbar {
  display: none;
}

#cheat-sheet .markdown blockquote {
  border-left-color: #888;
  color: #999;
}

#cheat-sheet .markdown h1,
#cheat-sheet .markdown h2,
#cheat-sheet .markdown h3,
#cheat-sheet .markdown h4,
#cheat-sheet .markdown h5,
#cheat-sheet .markdown h6 {
  border-bottom-color: #666;
}

#cheat-sheet .markdown table > tbody > tr:nth-child(2n) > td {
  background-color: #444;
}

#cheat-sheet .markdown table > tbody > tr > td,
#cheat-sheet .markdown table > tbody > tr > th,
#cheat-sheet .markdown table > tfoot > tr > td,
#cheat-sheet .markdown table > tfoot > tr > th,
#cheat-sheet .markdown table > thead > tr > td,
#cheat-sheet .markdown table > thead > tr > th {
  border-color: #666;
}
